$main-color: #ff6060;
$background-color: #f6f6f6;

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 143%;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

a {
  color: #000;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  margin: 0 90px 50px 90px;
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

// Cards and card

.cards {
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  background-color: $background-color;
  justify-content: center;
  gap: 50px;
  padding: 50px;

  &__item {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 10px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(10, 10, 10, 0) 42%,
        rgba(4, 4, 4, 0.205) 99.99%,
        rgba(0, 0, 0, 0.5) 100%
      );
    }
  }

  &__image {
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  &__titre {
    position: relative;
    bottom: 25%;
    left: 5%;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    z-index: 1;
  }
}

// Collapse !
.collapse {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1100px;
  margin: auto;
  width: 100%;
  &__topbar {
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 15px 20px 15px 15px;
  }
  &__title {
    margin: 0;
    color: white;
    font-size: 24px;
    font-weight: 700;
  }
  &__contenu {
    background-color: $background-color;
    border-radius: 5px;
    padding: 15px;
    p {
      margin: 0;
      font-weight: 400;
      font-size: 19px;
    }
  }
}

@media (prefers-color-scheme: light) {
}
