$main-color: #ff6060;
$background-color: #f6f6f6;

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 143%;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

a {
  color: #000;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  margin: 0 5% 5% 5%;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
img {
  object-fit: cover;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

// Cards and card

.cards {
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  background-color: $background-color;
  justify-content: center;
  gap: 50px;
  padding: 50px;

  a {
    display: flex;
    flex: 1 1 0;
    height: 340px;
    width: 340px;
    min-width: 335px;
    flex-grow: 1;
    flex-shrink: 1;
  }

  &__item {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      border-radius: 10px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(10, 10, 10, 0) 42%,
        rgba(4, 4, 4, 0.205) 99.99%,
        rgba(0, 0, 0, 0.5) 100%
      );
    }
  }

  &__image {
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  &__titre {
    position: absolute;
    margin: 15px 15px 20px 15px;

    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    z-index: 1;
  }
}

// Collapse !
.collapse {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1100px;
  margin: auto;
  width: 100%;
  &__item {
    width: 100%;
  }
  &__topbar {
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 15px 20px 15px 15px;
  }
  &__title {
    margin: 0;
    color: white;
    font-size: 24px;
    font-weight: 700;
  }
  &__contenu {
    background-color: $background-color;
    border-radius: 5px;
    padding: 15px;
    p {
      margin: 0;
      font-weight: 400;
      font-size: 19px;
    }
  }
}

// logement

.logement {
  display: flex;
  flex-direction: column;

  & .gallery {
    display: flex;
    overflow: hidden;
    height: 415px;
    width: 100%;
    align-self: center;
    position: relative;
    border-radius: 25px;
    margin-bottom: 25px;
  }
  & .gallery__image {
    width: 100%;
    height: 100%;
  }
  & .gallery__navigation {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    margin: 0 20px;
    inset: 0;
    align-items: center;
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: $main-color;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    line-height: 1;
  }
  &__location {
    font-size: 18px;
  }
  &__host-name {
    color: $main-color;
    font-size: 18px;
  }
  &__img {
    width: 64px;
  }
  &__tags {
    padding: 0;
    display: flex;
    gap: 20px;
  }
  &__tag {
    background-color: $main-color;
    color: white;
    border-radius: 10px;
    height: 25px;
    min-width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    padding: 0 5px;
  }
  &__host-rating {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 50px;
  }
  &__host {
    display: flex;
    gap: 20px;
    align-items: flex-end;
  }
  &__host-img {
    border-radius: 50%;
    width: 64px;
  }
  &__rating {
    display: flex;
    justify-content: center;
    gap: 5px;
    i.fa.fa-star {
      font-size: 24px;
      color: $main-color;
    }
    i.fa.fa-star--grey {
      color: #e3e3e3;
    }
  }

  &__details {
    display: flex;
    gap: 76px;
    justify-content: space-between;
    margin-top: 15px;
    .collapse__item > * {
      border-radius: 10px;
    }
  }
}

.logo--mobile {
  display: none;
}

@media (prefers-color-scheme: light) {
}

@media (max-width: 768px) {
  main {
    gap: 30px;
  }
  .main {
    gap: 0;
  }
  .logo--mobile {
    display: block; /* réduit automatiquement sur mobile */
  }
  .logo {
    display: none;
  }

  .cards {
    background-color: white;
    padding: 50px 0;
  }

  .collapse__title {
    font-size: 13px;
  }
  .collapse__topbar {
    padding: 2%;
  }

  .logement__details {
    flex-direction: column;
    gap: 20px;
  }

  .logement__info {
    flex-direction: column;
  }

  .logement__host-rating {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  img.logement__host-img {
    width: 34px;
  }

  .logement__host {
    align-items: center;
  }

  .logement__rating i.fa.fa-star {
    font-size: 18px;
  }
  .logement__tag {
    font-size: 10px;
    min-width: 84px;
  }

  .header__liens {
    gap: 26px;
  }
  .header__title {
    font-size: 12px;
  }
}
